table.table.datini.expense .how-much {
  text-align: end;
}

table.table.datini.expense .what del {
  color: var(--bs-secondary);
}

table.table.datini tr:nth-child(2n) td {
  background-color: var(--bs-alabaster);
}

table.datini .datini-action-drawer {
  padding: .5rem .25rem;
  background: rgba(var(--bs-avocado-rgb), 0.8);
}

@media (max-width: 768px) {
  table.table.datini.expense {
    margin: .5rem auto;
    min-height: 100vh;
  }

  table.table.datini.expense thead {
    display: none;
    visibility: hidden;
  }

  table.table.datini.expense tr {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "when when"
      "what how-much"
      "category who";
    margin: .5rem 0;
    border-radius: 10px;
    overflow: auto;
  }

  table.table.datini.expense tr td {
    background-color: var(--bs-alabaster);
  }

  table.table.datini.expense td {
    border: none;
  }

  table.table.datini.expense td.when {
    grid-area: when;
    color: var(--bs-secondary);
  }

  table.table.datini.expense td.what {
    grid-area: what;
    display: flex;
    align-items: center;
    font-size: 1.5em;
  }

  table.table.datini.expense td.how-much {
    grid-area: how-much;
    font-size: 1.5em;
    text-align: end;
  }

  table.table.datini.expense td.category {
    grid-area: category;
  }

  table.table.datini.expense td.who {
    grid-area: who;
    text-align: end;
    font-size: small;
  }

  table.datini .datini-action-drawer {
    border-radius: 20px;
    margin: .5rem 0;
    padding: 1rem 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

#id_category {
  display: flex;
  flex-wrap: wrap;
}

#id_category .form-check {
  flex-basis: 10rem;
}

#id_how_much_0 {
  flex-grow: 1;
}

#id_how_much_1 {
  flex-grow: 0;
  flex-basis: 8rem;
}
