{% extends 'account/base.html' %}
{% load ftl %}
{% load django_bootstrap5 %}

{% block head %}
	{{ block.super }}
  <style>
    .datini-takeout-container {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      padding: .5rem;
      border-radius: var(--bs-border-radius);
      background-color: var(--bs-light);

      h2 {
        margin-bottom: 0;
      }

      .datini-takeout-action-def {
        flex-basis: 66%;
      }
      .datini-takeout-action {
        margin-left: auto;
        min-width: 10rem;
        text-align: center;
      }
    }
  </style>
{% endblock %}

{% block main %}
  {% ftlconf mode="server" bundle="takeout.fluent.bundle" %}

	<div class="container">
    <h1>
      {% ftlmsg "takeout-title" %}
    </h1>
    <p>
      {% ftlmsg "takeout-help" %}
    </p>
    <form action="{% url "takeout:takeout" %}" method="get" class="datini-takeout-container">
      <section class="datini-takeout-action-def">
        <h2>{% ftlmsg "takeout-spreadsheet-action" %}</h2>
        <p>{% ftlmsg "takeout-spreadsheet-subtitle" %}</p>
        <p class="form-text">
          {% ftlmsg "takeout-spreadsheet-help" %}
        </p>
      </section>
      <section class="datini-takeout-action">
        <button type="submit" class="btn btn-primary">
          {% ftlmsg "takeout-spreadsheet-action" %}
        </button>
      </section>
    </form>

    <form action="{% url "takeout:backup" %}" method="get" class="datini-takeout-container">
      <section class="datini-takeout-action-def">
        <h2>{% ftlmsg "takeout-backup-action" %}</h2>
        <p>{% ftlmsg "takeout-backup-subtitle" %}</p>
        <p class="form-text">
          {% ftlmsg "takeout-backup-help" %}
        </p>
      </section>
      <section class="datini-takeout-action">
        <button type="submit" class="btn btn-primary">
          {% ftlmsg "takeout-backup-action" %}
        </button>
      </section>
    </form>

  </div>
{% endblock %}