{% load ftl %}
{% ftlconf mode="server" bundle="account.fluent.bundle" %}
<mjml>
  <mj-head>
    <mj-preview>{% ftlmsg "account-invite-message-preview" %}</mj-preview>
    <mj-attributes>
      <mj-text font-family="arial" font-size="15px" line-height="20px" color="#222"/>
      <mj-button font-family="arial" font-size="15px" line-height="20px" />
    </mj-attributes>
  </mj-head>
  <mj-body background-color="#EFEFEF">
    <mj-section background-color="#FFFFFF">
      <mj-column>
        <mj-text font-size="22px" font-weight="700">
          {% ftlmsg "account-invite-message-header" clan_title=clan.title %}
        </mj-text>
        <mj-text>
          {% ftlmsg "account-invite-message-body" clan_title=clan.title %}
        </mj-text>
        <mj-button href="{{ protocol}}://{{ domain }}{% url 'invite:set_password_confirm' uidb64=uid token=token %}" background-color="#156E55">
          {% ftlmsg "account-invite-message-button" %}
        </mj-button>
        <mj-text>
          {% ftlmsg "account-invite-message-signature" sender=sender %}
        </mj-text>
        <mj-spacer></mj-spacer>
        <mj-text color="#EDE7D9" align="center">Datini - Open Source Expense Tracker</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
