{% extends "account/start.html" %}
{% load static %}
{% load ftl %}
{% load django_bootstrap5 %}

{% block form %}
  {% ftlconf mode="server" bundle="account.fluent.bundle" %}
  <h1>
  {% ftlmsg "account-invite-set-password-done-title" %}
  </h1>
  <p>
    {% ftlmsg "account-invite-set-password-done-help" %}
  </p>
  <p class="text-center">
    <a href="{% url "account:login" %}" class="btn btn-primary">
      {% ftlmsg "account-login" %}
    </a>
  </p>
{% endblock %}
