{% load static %}
{% load ftl %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="{% static "home/favicon.svg" %}">
  <link rel=”mask-icon” href="{% static "home/mask-icon.svg" %}" color="#000000">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="msapplication-TileColor" content="#426a5a" />
  <meta name="theme-color" content="#426a5a" />
  {% block head %}{% endblock head %}
  <title>Datini{% if title %} - {{title}}{% endif %}</title>
  <link rel="stylesheet" href="{% url 'font' %}" />
  <link rel="stylesheet" href="{% static 'bootstrap.css' %}" />
  {% bootstrap_javascript %}
</head>

<body class="min-vh-100 d-flex flex-column">
  {% block nav %}
  {% ftlconf mode="server" bundle="base.fluent.bundle" %}
  <nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand me-auto" href="{% url "home" %}">Datini</a>
      <ul class="navbar-nav">
      {% if request.user.is_anonymous %}
        <li class="nav-item">
          <a href="{% url "account:login" %}" class="btn btn-outline-primary">{% ftlmsg "nav-start-now" %}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a href="{% url "expense:home" %}" class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-columns" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 0 .5m13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m-13 2A.5.5 0 0 1 .5 2h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m-13 2A.5.5 0 0 1 .5 4h10a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m-13 2A.5.5 0 0 1 .5 6h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m-13 2A.5.5 0 0 1 .5 8h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m-13 2a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m-13 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m-13 2a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
            </svg>
            <span class="d-none d-sm-inline">{% ftlmsg "nav-expenses" %}</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url "account:profile" %}" class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
            </svg>
            <span class="d-none d-sm-inline">{{ request.user }}</span>
          </a>
        </li>
        {% endif %} 
      </ul>
    </div>
  </nav>
  {% endblock nav %}

  {% block header %}{% endblock header %}
  <main class="flex-grow-1">
    {% block main %} {% endblock main %}
  </main>
  <footer class="container-fluid bg-body-tertiary mt-5">
    <div class="container">
      <div class="row row-cols-2 row-cols-md-4 flex-wrap small text-center">
      {% block footer %}
        <div>
          <a href="#" class="text-secondary py-4 px-2 d-block">
            Cos'è Datini
          </a>
        </div>
        <div>
          <a href="#" class="text-secondary py-4 px-2 d-block">
            Chi era Datini
          </a>
        </div>
        <div>
          <a href="#" class="text-secondary py-4 px-2 d-block">
            Prezzi
          </a>
        </div>
        <div>
          <a href="#" class="text-secondary py-4 px-2 d-block">
            Privacy
          </a>
        </div>
      {% endblock footer %}
      </div>
    </div>
  </footer>
</body>

</html>
