{% load static %}
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url("{% static 'font/atkinson-hyperlegible-v10-latin-regular.woff2' %}") format('woff2'),
       url("{% static 'font/atkinson-hyperlegible-v10-latin-regular.woff' %}") format('woff');
}
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url("{% static 'font/atkinson-hyperlegible-v10-latin-700.woff2' %}") format('woff2'),
       url("{% static 'font/atkinson-hyperlegible-v10-latin-700.woff' %}") format('woff');
}
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url("{% static 'font/atkinson-hyperlegible-v10-latin-italic.woff2' %}") format('woff2'),
       url("{% static 'font/atkinson-hyperlegible-v10-latin-italic.woff' %}") format('woff');
}
