{% load ftl %}

{% ftlconf mode="server" bundle="base.fluent.bundle" %}

<div class="d-flex align-items-center">
  <div class="me-auto">
    {% ftlmsg 'base-pagination' number=number num_pages=num_pages %}
  </div>
  <div class="btn-group" role="group">
    <a class="btn btn-outline-primary btn-sm {% if has_previous %}btn-gray-dark{% else %}btn-gray disabled{% endif %}" {% if has_previous %}href="{{ previous_url }}"{% endif %}>Indietro</a>
    <a class="btn btn-outline-primary btn-sm {% if has_next %}btn-gray-dark{% else %}btn-gray disabled{% endif %}" {% if has_next %}href="{{ next_url }}"{% endif %}>Avanti</a>
  </div>
</div>
