<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    {% comment %} <link rel="manifest" href="/site.webmanifest"> {% endcomment %}
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#426a5a">
    <meta name="msapplication-TileColor" content="#426a5a">
    <meta name="theme-color" content="#426a5a">
    {% block head %}{% endblock %}
    <title>Datini{% if title %} - {{title}}{% endif %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    {% block header %}
    <header>
        <section>
            <a href="{% url 'home' %}" class="logo" style="width: 2rem; height: 2rem">
                <picture>
                    <img src="{% static 'datini.svg' %}" alt="Datini - stationery by Azam Ishaq from the Noun Project" />
                </picture>
            </a>
        </section>
        <section class="menu">
            <span class="close" onclick="document.body.classList.toggle('side-menu-open');">
                &#x2262;
            </span>
            <nav>
                <a href="{% url 'expenses_list' %}">Expenses</a>
                <a href="{% url 'info' %}">Info</a>
            </nav>
            <nav class="account">
            {% if user.is_authenticated %}
            <a href="{% url 'clan' %}" class="action">
                {{user.email}}
            </a>
            <a href="{% url 'logout' %}" class="action">
                Logout
            </a>
            {% else %}
            <a href="{% url 'login' %}" class="action">
                Login
                </a>
            {% endif %}
            </nav>
        </section>
        <section class="hamburger">
            <span onclick="document.body.classList.toggle('side-menu-open');">
                &#x2263;
            </span>
        </section>
    
    </header>
    {% endblock header %}
    <main>
    {% block main %}{% endblock %}
    </main>
    {% comment %} <script src="{% static 'base.js' %}"></script> {% endcomment %}
    
</body>
</html>
