{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'hero.css' %}">
{% endblock head %}
{% block main %}
<section class="alt hero">
    <div>
      <h1>Datini</h1>
      <p>The first* expense tracker in history</p>
    </div>
</section>
<section>
    {% if not user.is_authenticated %}
    <div>
        <a class="action" href="{% url 'signup' %}">Signup</a>
        <a class="action" href="{% url 'login' %}">Login</a>
    </div>
    {% endif %}
</section>
{% endblock main %}
