{% extends "base/base.html" %}
{% load ftl %}
{% load static %}

{% block head %}
{{ block.super }}
  <link rel="manifest" href="{% url "expense:manifest" %}" />
  <link rel="stylesheet" href="{% static 'expense/expense.css' %}">
{% endblock head %}

{% block nav %}
{% ftlconf mode="server" bundle="base.fluent.bundle" %}
<nav class="navbar navbar-expand bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand me-auto" href="{% url "expense:home" %}">
      <img src="{% static "home/logo.svg" %}" alt="Datini" width="38">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="{% url "account:profile" %}" class="btn btn-outline-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
          </svg>
          <span class="d-none d-sm-inline">{{ request.user }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock nav %}

{% block footer %}
  <a href="{% url "home" %}" class="text-secondary py-4 px-2 d-block flex-grow-1">Home</a>
{% endblock footer %}
