{% extends "expense/base.html" %}
{% load ftl %}
{% load django_bootstrap5 %}

{% block main %}
  {% ftlconf mode="server" bundle="expense.fluent.bundle" %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col col-12 col-md-8 py-3">
        <h2>{% ftlmsg 'expense-create' %}</h2>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_field form.next %}
          {% bootstrap_field form.who %}
          {% bootstrap_field form.what %}
          <div class="mb-3 input-group">
            {% bootstrap_label form.how_much.label %}
            {% bootstrap_field form.how_much show_label="skip" wrapper_class="input-group" %}
          </div>
          {% bootstrap_field form.category %}
          {% bootstrap_field form.when %}
          <div class="mt-4 d-flex align-items-center">
            <div class="flex-grow-1">
              <button type="submit" class="btn btn-primary">
                {% ftlmsg 'expense-create-action' %}
              </button>
            </div>
            {% block form_nav %}
            <div>
              <a href="{{ next }}">{% ftlmsg 'expense-back' %}</a>
            </div>
            {% endblock %}
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    document.getElementById('id_what').focus();
    document.getElementById("id_how_much_0").onfocus = e => e.target.select();
  </script>
{% endblock %}
