{% extends "expense/base.html" %}
{% load static %}
{% load ftl %}
{% load paginator_controls %}

{% block main %}
  {% ftlconf mode="server" bundle="expense.fluent.bundle" %}
  <div class="container">
    <form method="get" class="flex-grow-1">
      <div class="input-group input-group">
        <input type="search" class="form-control form-control-sm"
               name="search" value="{{ request.GET.search|default:'' }}"
               aria-label="Termini di ricerca" aria-describedby="search-submit">
        <button class="btn btn-outline-primary" type="submit" id="search-submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </div>
    </form>
    <table class="table datini expense">
      <caption class="position-sticky bottom-0">
        <div class="row align-items-center datini-action-drawer">
          <div class="col col-4 text-center">
            <a href="{% url "expense:home" %}" class="link-alabaster link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
              </svg><br>
              {% ftlmsg "expense-nav-home" %}
            </a>
          </div>
          <div class="col col-4 text-center">
            <a href="{% url "expense:recurring_list" %}" class="link-alabaster link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z"/>
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
              </svg><br>
              {% ftlmsg "expense-nav-recurring" %}
            </a>
          </div>
          <div class="col col-4 text-center">
            <a href="{% url "expense:create" %}" class="btn btn-alabaster text-avocado">
              {% ftlmsg "expense-nav-create" %}
            </a>
          </div>
        </div>
      </caption>
      <thead>
      <tr>
        <th>{% ftlmsg 'expense-when' %}</th>
        <th>{% ftlmsg 'expense-who' %}</th>
        <th>{% ftlmsg 'expense-what' %}</th>
        <th>{% ftlmsg 'expense-category' %}</th>
        <th class="how-much">{% ftlmsg 'expense-how_much' %}</th>
      </tr>
      </thead>
      <tbody>
      {% ftlmsg "expense-what-na" as NA %}
      {% for expense in expense_list %}
        <tr>
          <td class="when">{{ expense.when|date:"SHORT_DATETIME_FORMAT" }}</td>
          <td class="who">{{ expense.who }}</td>
          <td class="what">
            <a href="{% url "expense:update" expense.pk %}?next={{ request.path }}">
              {% if expense.is_canceled %}<del>{% endif %}
              {{ expense.what|default:NA }}
              {% if expense.is_canceled %}</del>{% endif %}
            </a>
          </td>
          <td class="category">{{ expense.get_category_display }}</td>
          <td class="how-much">
            {% if expense.is_canceled %}<del>{% endif %}
            {{ expense.how_much }}
            {% if expense.is_canceled %}</del>{% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="d-flex align-items-center justify-content-center">
      <div class="me-auto">
        <a class="btn btn-outline-primary{% if not has_previous %} disabled{% endif %}" {% if has_previous %}href="{{ previous_url }}"{% endif %}>&laquo;</a>
      </div>
      <div class="small px-1">
        {{ page_obj.start_index }} – {{ page_obj.end_index }}
      </div>
      <div class="ms-auto">
        <a class="btn btn-outline-primary{% if not has_next %} disabled{% endif %}" {% if has_next %}href="{{ next_url }}"{% endif %}>&raquo;</a>
      </div>
    </div>

  </div>
{% endblock main %}
