{% extends "expense/base.html" %}
{% load ftl %}
{% load django_bootstrap5 %}

{% block main %}
  {% ftlconf mode="server" bundle="expense.fluent.bundle" %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col col-12 col-md-8 py-3">
        <div class="d-flex align-items-center mb-3">
          <h2 class="my-0">{% ftlmsg 'expense-update' %}</h2>
          {% if is_deleted %}
          <p class="my-0 mx-2">
            <span class="badge text-bg-danger">
              {% ftlmsg "expense-is-deleted" %}
            </span>
          </p>
          {% endif %}
          <div class="ms-auto">
            <a href="{{ next }}">{% ftlmsg 'expense-back' %}</a>
          </div>
        </div>
        <form method="post" id="expense-update">
          {% csrf_token %}
          {% bootstrap_field form.next %}
          {% bootstrap_field form.who %}
          {% bootstrap_field form.what %}
          <div class="mb-3 input-group">
            {% bootstrap_label form.how_much.label %}
            {% bootstrap_field form.how_much show_label="skip" wrapper_class="input-group" %}
          </div>
          {% bootstrap_field form.category %}
          {% bootstrap_field form.when %}
        </form>
        <div class="mt-4 d-flex align-items-center gap-2">
          <div>
            <button type="submit" class="btn btn-primary" form="expense-update">
              {% ftlmsg 'expense-update-action' %}
            </button>
          </div>
          <div class="me-auto">
          {% if is_deleted %}
            <form action="{% url "expense:restore" pk %}" method="POST" class="m-0">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-info">
                {% ftlmsg "expense-update-restore" %}
              </button>
            </form>
          {% else %}
            <form action="{% url "expense:cancel" pk %}" method="POST" class="m-0">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger">
                {% ftlmsg "expense-update-delete" %}
              </button>
            </form>
          {% endif %}
          </div>
          {% block form_nav %}
            <div>
              <a href="{{ next }}">{% ftlmsg 'expense-back' %}</a>
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <script>
      document.getElementById("id_how_much_0").onfocus = e => e.target.select();
  </script>
{% endblock %}
