table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: repeat(5, minmax(50px, 1fr));
}
thead,
tbody,
tr {
    display: contents;
}
th, 
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
th {
    position: sticky;
    top: 0;
    text-align: left;
    font-weight: normal;
    color: var(--white);
    background-color: var(--action);
}
tr:nth-child(even) td {
    background: var(--action-light);
  }
@media screen and (max-width: 470px) {
    th,
    td {
        padding: 5px;
    }
}
@media screen and (max-width: 470px) {
    table {
        grid-template-columns: unset;
    }    
    td:last-child {
        border-bottom: 1px solid var(--action-light);
    }
    thead {
        display: none;
    }
    tbody tr {
        display: grid;
        grid-template-rows: 1fr 1.5fr; 
        grid-template-columns: 1fr 1fr;
        margin-bottom: .5rem;
    }
    tbody tr:nth-child(even) {
        border-bottom: 1px solid #EEE;
    }
    tbody tr td.created_at {
        grid-area: 1 / 1 / 2 / 2;
        font-size: 10px;
        text-transform: uppercase;
        color: var(--orange-soda);
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    tbody tr td.category {
        grid-area: 1 / 2 / 2 / 3;
    }
    tbody tr td.what {
        grid-area: 2 / 1 / 3 / 3;
        font-size: 24px;
    }
    tbody tr td.who {
        grid-area: 3 / 1 / 4 / 2;
    }
    tbody tr td.how_much {
        grid-area: 3 / 2 / 4 / 3;
        text-align: right;
    }
}
