table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: repeat(5, minmax(50px, 1fr));
}
@media screen and (max-width: 470px) {
    table {
        grid-template-columns: unset;
    }
}
thead,
tbody,
tr {
    display: contents;
}
th, 
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
th {
    position: sticky;
    top: 0;
    text-align: left;
    font-weight: normal;
    color: var(--white);
    background-color: var(--action);
}
tr:nth-child(even) td {
    background: var(--action-light);
  }
