  {% extends "expense/base.html" %}
{% load ftl %}
{% load django_bootstrap5 %}

{% block head %}
	{{ block.super }}
  <script src="{% url 'javascript-catalog' %}"></script>
{% endblock %}

{% block main %}
  {% ftlconf mode="server" bundle="expense.fluent.bundle" %}
  <div class="container" id="container">
    <div class="row align-items-center justify-content-center">
      <div class="col col-12 col-md-8 py-3">
        <h2>{% ftlmsg 'expense-create' %}</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.media }}
          {% bootstrap_field form.next %}
          {% bootstrap_field form.who %}
          {% bootstrap_field form.what %}
          <div class="mb-3 input-group">
            {% bootstrap_label form.how_much.label %}
            {% bootstrap_field form.how_much show_label="skip" wrapper_class="input-group" %}
          </div>
          {% bootstrap_field form.category %}
          <div class="clearfix">
            {% bootstrap_field form.recurrences %}
          </div>

          <details class="mt-3">
            <summary>{% ftlmsg "expense-recurrences-time" %}</summary>
            <p class="form-text">
              {% ftlmsg "expense-recurrences-time-help" recurrence_time=default_recurrence_time %}
            </p>
            <div class="row row cols-2">
              <div class="col">{% bootstrap_field form.time %}</div>
              <div class="col">{% bootstrap_field form.time_zone %}</div>
            </div>
          </details>

          <div class="mt-4 d-flex align-items-center">
            <div class="flex-grow-1">
              <button type="submit" class="btn btn-primary">
                {% ftlmsg 'expense-create-action' %}
              </button>
            </div>
            {% block form_nav %}
            <div>
              <a href="{{ next }}">{% ftlmsg 'expense-back' %}</a>
            </div>
            {% endblock %}
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    document.getElementById("id_how_much_0").onfocus = e => e.target.select();
    {
      let userTimeZone
      try {
        userTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      } catch(error) {
        console.error("Unable to infer userTimeZone from Intl");
      }
      if (userTimeZone) {
        let optionElement = document.getElementById('id_time_zone').querySelector(`option[value="${userTimeZone}"]`)
        if (optionElement) {
          optionElement.selected = true;
        }
      }
    }
  </script>
{% endblock %}
