{% extends "expense/base.html" %}
{% load static %}
{% load ftl %}
{% load django_bootstrap5 %}

{% block head %}
	{{ block.super }}
  <script src="{% static "expense/expense.js" %}"></script>
{% endblock %}

{% block header %}
  {{ block.super }}
  {% bootstrap_messages %}
{% endblock header %}

{% block main %}
  {% ftlconf mode="server" bundle="expense.fluent.bundle" %}
  <div class="container py-3">
    <table class="table datini expense compact">
      <caption class="position-sticky bottom-0">
        <div class="row align-items-center datini-action-drawer">
          <div class="col col-4 text-center">
            <a href="{% url "expense:home" %}" class="link-alabaster link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg><br>
              {% ftlmsg "expense-nav-home" %}
            </a>
          </div>
          <div class="col col-4 text-center">
            <a class="link-alabaster link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z"/>
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
              </svg><br>
              {% ftlmsg "expense-nav-recurring" %}
            </a>
          </div>
          <div class="col col-4 text-center">
            <a href="{% url "expense:recurring_create" %}" class="btn btn-alabaster text-avocado">
              {% ftlmsg "expense-nav-create" %}
            </a>
          </div>
        </div>
      </caption>
      <thead>
      <tr>
        <th>{% ftlmsg 'expense-when' %}</th>
        <th>{% ftlmsg 'expense-who' %}</th>
        <th>{% ftlmsg 'expense-what' %}</th>
        <th>{% ftlmsg 'expense-category' %}</th>
        <th class="how-much">{% ftlmsg 'expense-how_much' %}</th>
      </tr>
      </thead>
      <tbody>
      {% ftlmsg "expense-what-na" as NA %}
      {% for expense in item_list %}
        <tr>
          <td class="when">{{ expense.next_occurrence }}</td>
          <td class="who">{{ expense.who }}</td>
          <td class="what">
            <a href="{% url "expense:recurring_update" expense.pk %}">
              {{ expense.what|default:NA }}
            </a>
          </td>
          <td class="category">{{ expense.get_category_display }}</td>
          <td class="how-much">{{ expense.how_much }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  <p class="text-center">
  </p>
  </div>
{% endblock %}
