{% extends "base/base.html" %}
{% load static %}
{% load ftl %}

{% block head %}
	{{ block.super }}
  <style>
  #hero-main {
    background-image: linear-gradient(#FFF, rgba(255,255,255,.85) 15%, rgba(255,255,255,.15)), url("{% static "home/background.jpg" %}");
    background-size: auto, cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
  #hero {
    min-height: 832px;
    height: 100vh;
  }
  </style>
{% endblock %}

{% block main %}
  {% ftlconf mode="server" bundle="base.fluent.bundle" %}
	<div id="hero-main" class="container-fluid">
    <div class="container">
      <div id="hero" class="pt-3 row row-cols-1 row-cols-md-2 align-items-center justify-content-center flex-wrap vh-100">
        <div class="pb-5">
          <h1 class="display-2 fw-bold text-primary lh-1 text-center text-md-start">
            {% ftlmsg "hero-text" %}
          </h1>
          <h2 class="text-center text-md-start">
            {% ftlmsg "what-is-datini" %}
          </h2>
        </div>
        <div class="pb-5">
          <img src="{% static "home/character.jpg" %}"
               alt="{% ftlmsg 'character-alt-text' %}"
               class="img-fluid rounded-circle">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
