{% extends "account/base.html" %}
{% load ftl %}
{% load django_bootstrap5 %}

{% block main %}
  {% ftlconf mode="server" bundle="base.fluent.bundle" %}
  <div class="container">
    <div class="row justify-content-center align-items-center row-cols-1 row-cols-md-2">
      <div class="col">
        <div class="rounded bg-body-tertiary mx-5 my-3 px-4 py-2">
          <h3>{% ftlmsg "clan-join" %}</h3>
          <form action="{% url 'account:clan_join' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form join_form %}
            <button type="submit" class="btn btn-primary">{% ftlmsg "clan-join-action" %}</button>
          </form>
        </div>
      </div>
      <div class="col">
        <div class="rounded bg-body-tertiary mx-5 my-3 px-4 py-2">
          <h3>{% ftlmsg "clan-create" %}</h3>
          <form action="{% url 'account:clan_create' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form create_form %}
            <button type="submit" class="btn btn-primary">
              {% ftlmsg "clan-create-action" %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
