{% extends 'account/base.html' %}
{% load ftl %}
{% load django_bootstrap5 %}

{% block main %}
  {% ftlconf mode="server" bundle="account.fluent.bundle" %}
  <div class="container" style="max-width: 576px">
    <h3>{% ftlmsg "account-invite-create" %}</h3>
    {{ form.errors }}
    <form action="" method="post">
      {% csrf_token %}
      <div class="mb-3">
        {% bootstrap_field form.email %}
        <p class="form-text">
          {% ftlmsg "account-invite-help" %}
        </p>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">
          {% ftlmsg "account-invite-create-action" %}
        </button>
      </div>
    </form>
  </div>
{% endblock main %}