{% extends "account/start.html" %}
{% load django_bootstrap5 %}
{% load ftl %}

{% block form %}
  {% ftlconf mode="server" bundle="account.fluent.bundle" %}
  <form method="post" action="{% url 'account:login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    <section class="mt-5">
      <button class="btn btn-primary w-100">
        {% ftlmsg "account-login" %}
      </button>
    </section>
  </form>
  <section class="mt-5">
    <p>
      {% ftlmsg "account-password-reset-hint" %}
    </p>
    <p>
      <a href="{% url "account:reset_password" %}" class="btn btn-outline-primary w-100">
        {% ftlmsg "account-password-reset-start" %}
      </a>
    </p>
  </section>

{% endblock form %}
