<mjml>
  <mj-head>
    <mj-preview>Datini: imposta una nuova password</mj-preview>
    <mj-attributes>
      <mj-text font-family="arial" font-size="15px" line-height="20px" color="#222"/>
      <mj-button font-family="arial" font-size="15px" line-height="20px" />
    </mj-attributes>
  </mj-head>
  <mj-body background-color="#EFEFEF">
    <mj-section background-color="#FFFFFF">
      <mj-column>
        <mj-text font-size="22px" font-weight="700">
          Imposta una nuova password
        </mj-text>
        <mj-text>
          Hai richiesto un link per reimpostare la password del tuo account su Datini. Puoi fare click su pulsante che
          segue.
        </mj-text>
        <mj-text>
          Se questa richiesta non è stata fatta da te, non fare altro: puoi ignorare questo messaggio.
        </mj-text>
        <mj-button href="{{ protocol}}://{{ domain }}{% url 'account:reset_password_new' uidb64=uid token=token %}" background-color="#156E55">
          Reimposta la password
        </mj-button>
        <mj-text font-size="14px">
          Se hai problemi con il pulsante, ecco il link: {{ protocol}}://{{ domain }}{% url 'account:reset_password_new' uidb64=uid token=token %}
        </mj-text>
        <mj-text>
          Non condividere con nessuno questo messaggio, il suo contenuto o il link.
        </mj-text>
        <mj-spacer></mj-spacer>
        <mj-text color="#EDE7D9" align="center">Datini - Open Source Expense Tracker</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
