{% extends "account/start.html" %}
{% load static %}
{% load ftl %}
{% load django_bootstrap5 %}

{% block form %}
  {% ftlconf mode="server" bundle="account.fluent.bundle" %}
  <form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <p class="form-text">
      {% ftlmsg "account-password-reset-form-help" %}
    </p>
    <section class="mt-3">
      <button type="submit" class="btn btn-primary w-100">
        {{ title }}
      </button>
    </section>
  </form>
{% endblock %}
