{% extends 'account/base.html' %}
{% load ftl %}
{% load django_bootstrap5 %}

{% block header %}
  {{ block.super }}
  <script>{% include "base/tooltip_init.js" %}</script>
  <style>
    table td {
      vertical-align: middle
    }
  </style>
{% endblock %}

{% block main %}
  {% ftlconf mode="server" bundle="account.fluent.bundle" %}
  <div class="container" style="max-width: 576px">
    {% bootstrap_messages %}
    <div class="d-flex align-items-center mt-4">
      <h3>{% ftlmsg "profile-title" %}</h3>
    </div>
    <form action="{% url "account:profile" %}" method="post" id="profile-form" class="row row-cols-1 row-cols-md-2">
      {% csrf_token %}
      <div class="col">
        {% bootstrap_field profile_form.first_name %}
      </div>
      <div class="col">
        {% bootstrap_field profile_form.last_name %}
      </div>
    </form>
    <button type="submit" form="profile-form" class="btn btn-primary">{% ftlmsg "profile-update" %}</button>

    <h3 class="mt-4">{% ftlmsg "account-clan" %}</h3>
    <div class="row row-cols-1 row-cols-md-2">
      <form action="{% url "account:clan_update" %}" method="post" id="clan-form">
        {% csrf_token %}
        <div class="col">
          {% bootstrap_field clan_form.title %}
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary">{% ftlmsg "account-clan-update-action" %}</button>
        </div>
      </form>
    </div>

    <div class="d-flex align-items-center mt-4 mb-1">
      <h3 class="my-0">{% ftlmsg "account-clan-people-title" %}</h3>
      <div class="ms-auto">
        <a href="{% url "invite:create" %}" class="btn btn-primary">
          {% ftlmsg "account-clan-people-invite-create" %}
        </a>
      </div>
    </div>
    <form action="{% url "invite:cancel" %}" method="post" id="invite-cancel-form">
      {% csrf_token %}
    </form>
    <form action="{% url "invite:resend" %}" method="post" id="invite-resend-form">
      {% csrf_token %}
    </form>
    <table class="table table-striped">
      <tbody>
      {% for user in clan_people %}
        <tr>
          <td>{{ user }}</td>
          <td>{{ user.email }}</td>
          {% if user.is_active %}
            <td class="text-center"
                data-bs-toggle="tooltip"
                data-bs-title="{% ftlmsg "account-clan-people-invited" %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
              </svg>
            </td>
          {% else %}
            <td class="text-center"
                data-bs-toggle="tooltip"
                data-bs-title="{% ftlmsg "account-clan-people-invited" %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
                   viewBox="0 0 16 16">
                <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
              </svg>
            </td>
          {% endif %}
          <td class="text-center">
            <div class="btn-group">
              {% if user.is_active %}
                <button disabled class="btn btn-sm btn-outline-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-envelope-x-fill" viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 4.697v4.974A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-1.965.45l-.338-.207z"/>
                    <path
                        d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-4.854-1.354a.5.5 0 0 0 0 .708l.647.646-.647.646a.5.5 0 0 0 .708.708l.646-.647.646.647a.5.5 0 0 0 .708-.708l-.647-.646.647-.646a.5.5 0 0 0-.708-.708l-.646.647-.646-.647a.5.5 0 0 0-.708 0"/>
                  </svg>
                </button>
                <button disabled class="btn btn-sm btn-outline-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-envelope-check-fill" viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 4.697v4.974A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-1.965.45l-.338-.207z"/>
                    <path
                        d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"/>
                  </svg>
                </button>
              {% else %}
                <button type="submit"
                        form="invite-cancel-form"
                        class="btn btn-sm btn-outline-danger"
                        name="email"
                        value="{{ user.email }}"
                        title="{% ftlmsg "account-invite-cancel" %}"
                        data-bs-toggle="tooltip">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-envelope-x-fill" viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 4.697v4.974A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-1.965.45l-.338-.207z"/>
                    <path
                        d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-4.854-1.354a.5.5 0 0 0 0 .708l.647.646-.647.646a.5.5 0 0 0 .708.708l.646-.647.646.647a.5.5 0 0 0 .708-.708l-.647-.646.647-.646a.5.5 0 0 0-.708-.708l-.646.647-.646-.647a.5.5 0 0 0-.708 0"/>
                  </svg>
                </button>
                <button type="submit"
                        form="invite-resend-form"
                        class="btn btn-sm btn-outline-primary"
                        name="email"
                        value="{{ user.email }}"
                        title="{% ftlmsg "account-invite-send-again" %}"
                        data-bs-toggle="tooltip">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                  </svg>
                </button>
              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <h3 class="mt-2">{% ftlmsg "base-takeout" %}</h3>
    <div class="d-flex align-items-center">
      <div class="form-text">
        {% ftlmsg "base-takeout-help" %}
      </div>
      <div class="ms-auto">
        <a href="{% url "takeout:index" %}" class="btn btn-outline-primary">
          {% ftlmsg "base-takeout" %}
        </a>
      </div>
    </div>

    <h3 class="mt-4">{% ftlmsg "account-logout" %}</h3>
    <div class="d-flex align-items-center">
      <div class="form-text">
        {% ftlmsg "account-logout-help" %}
      </div>
      <form action="{% url "account:logout" %}" class="ms-auto">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">{% ftlmsg "account-logout-action" %}</button>
      </form>
    </div>

  </div>
{% endblock main %}
