{% extends "account/start.html" %}
{% load static %}
{% load ftl %}
{% load django_bootstrap5 %}

{% block form %}
  {% ftlconf mode="server" bundle="account.fluent.bundle" %}
  <h1>
  {% ftlmsg "account-password-reset-sent-title" %}
  </h1>
  <p>
    {% ftlmsg "account-password-reset-sent-help" %}
  </p>

{% endblock %}
