{% extends "account/start.html" %}
{% load static %}
{% load ftl %}
{% load django_bootstrap5 %}

{% block form %}
  {% ftlconf mode="server" bundle="account.fluent.bundle" %}
  {% if validlink %}
    <form method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <section class="mt-3">
        <button type="submit" class="btn btn-primary w-100">
          {{ title }}
        </button>
      </section>
    </form>
  {% else %}
    <h2>
      {% ftlmsg "account-invite-link-not-valid-title" %}
    </h2>
    <p>
      {% ftlmsg "account-invite-link-not-valid-help" %}
    </p>
  {% endif %}
{% endblock %}
