{% extends 'base/base.html' %}
{% load static %}

{% block head %}
{{ block.super }}
  <style>
  :root {
    --datini-page-background-url: url('{% static "account/room-window-view.jpg" %}');
  }
  </style>
  <link rel="stylesheet" href="{% static "account/account.css" %}">
{% endblock head %}

{% block nav %}{% endblock nav %}

{% block main %}
<div class="container-fluid min-vh-100 datini-start-container">
  <div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 70vh">
      <div class="my-3 col-md-4 py-5 px-4 bg-opacity-75 bg-white rounded-3">
        <h1 class="display-5 text-primary text-center fw-bold">Datini</h1>
        {% block form %}{% endblock form %}
      </div>
    </div>
  </div>
</div>

{% endblock main %}
